.category-item{
    position: relative;
    margin-top: 20px;
}

.category-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.category-title{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: capitalize;
}
