:root{
  --color1: #030303;
  --color2: #966FDF;
  --color3: #FA0064;
  --color4: #C6C4FA;
  --color5: #FCFDFD;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.relative{
  position: relative;
}

.text-center{
  text-align: center !important;
}

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.evenly{
  justify-content: space-evenly;
}

.start{
  justify-content: start;
}

.intro-title{
  margin: 0 20px 0 0;
  font-size: 18px;
}

.black-icon{
  font-size: 24px;
  margin-top: 5px;
}

.recommendations{
  margin:60px 0;

}
.recommendations:first-child{
  margin: 50px 0;
}

